[2019-07-02 12:49] Stefan-83 opened #1 "Connect with SHM?"
Hi,
for the hostname, is it possible connecting with SHM (SunnyHomeManager)?

Thanks,
Stefan

[2019-07-15 23:03] apographon opened #2 "SMA Webbox?"
Does this connect to the SMA WebBox as well?

[2019-09-18 17:33] ceraz68 commented on #2
Hi tried to connect between my homebridge server and the SMA on the same wired LAN without success.

Can you explain "hostname": "sma1002000200" in the config.json file as I can't access the inverter.

When I connect locally to the SMA inverter by its IP address (192.168.1.88), I land on the page http://192.168.1.88/#/home
Where I have a username/password page

When I manually try http://192.168.1

[2019-10-06 06:22] codyc1515 commented on #2
@apographon I am not sure as I do not have one of these devices. I have recently upgraded the plug-in to connect using the SMA ModBus protocol (whereas before it was HTTP, which was device specific). I intend to add the web specific support back soon as a fallback. Can you please check if your device supports ModBus?

@ceraz68 Can you please raise a separate issue for this? It sounds like your dev

[2019-10-06 06:23] codyc1515 commented on #1
I have recently updated the plug-in to use ModBus (instead of HTTP, which was device specific). I suggest to try it and see.

[2019-10-16 07:16] rangerek opened #3 "modbus-serial issue"
`Oct 16 09:14:35 homebridge homebridge[2002]: [10/16/2019, 9:14:35 AM] ERROR LOADING PLUGIN homebridge-sma-inverter:
Oct 16 09:14:35 homebridge homebridge[2002]: [10/16/2019, 9:14:35 AM] Error: Cannot find module 'modbus-serial'
Oct 16 09:14:35 homebridge homebridge[2002]:     at Function.Module._resolveFilename (internal/modules/cjs/loader.js:581:15)
Oct 16 09:14:35 homebridge homebridge[2002]:

[2019-10-16 07:17] codyc1515 commented on #3
npm install -g modbus-serial should work

[2019-10-16 08:32] rangerek commented on #3
addnig --unsafe-perm worked :)

but now there is a next question:
`Oct 16 10:31:03 homebridge homebridge[2920]: [10/16/2019, 10:31:03 AM] TypeError: Cannot read property 'buffer' of undefined
Oct 16 10:31:03 homebridge homebridge[2920]:     at SMAInverter.<anonymous> (/usr/local/lib/node_modules/homebridge-sma-inverter/index.js:131:17)
Oct 16 10:31:03 homebridge homebridge[2920]:     at ModbusRTU.

[2019-10-20 07:35] codyc1515 commented on #3
You need to have ModBus enabled.

[2019-10-21 09:19] ceraz68 opened #4 "Support for SunnyBoy 3.6"
Hi tried to connect between my homebridge server and the SMA (SunnyBoy 3.6 1AV-40) on the same wired LAN without success.

Can you explain "hostname": "sma1002000200" in the config.json file as I can't access the inverter.

When I connect locally to the SMA inverter by its IP address (192.168.1.88), I land on the page http://192.168.1.88/#/home
Where I have a username/password page

When I manuall

[2019-11-03 00:07] #1 closed, assigned to Stefan-83

[2019-11-03 00:07] #2 closed, assigned to apographon

[2019-11-03 00:07] #3 closed, assigned to rangerek

[2019-11-03 00:07] codyc1515 commented on #4
You need to have ModBus enabled. Use _192.168.1.88_ as your hostname.

[2019-11-03 00:07] #4 closed, assigned to codyc1515

[2019-11-03 11:19] ceraz68 opened #6 "type error on line 129"
Hello, I have a error on line 129.

I entered the IP address in the settings windows. Editing index.js and replacing the client.connectTCP(addresses[0]) by client.connectTCP("192.168.0.3", { port: 502 }) worked for me.

[2019-11-03 11:20] codyc1515 commented on #6
Could you please provide the error so that I could look into the root cause for this?

[2019-11-03 11:20] ceraz68 commented on #6
Yes I was just about to paste it:

TypeError: Cannot read property '0' of undefined
    at SMAInverter.<anonymous> (/homebridge/node_modules/homebridge-sma-inverter/index.js:129:40)
    at QueryReqWrap.onresolve [as oncomplete] (dns.js:196:10)

[2019-11-07 13:16] rangerek opened #7 "modbus not working"
[code]

while connecting to Modbus server is possible:
`telnet 192.168.y.x 502
Trying 192.168.y.x...
Connected to 192.168.y.x.
Escape character is '^]'.`

tried with sma12345, sma12345.local and 192.168.y.x in the config

[2019-11-07 15:40] rangerek commented on #6
worked for me as well (issue #7)

[2019-11-08 10:37] #7 closed, assigned to nobody

[2019-11-08 10:39] rangerek opened #8 "error in line 137"
after using the temporary fix from #6 and being able to connect to inverter i get following error:
[code]
however the tile is visible in HK and what more, this error does not kill homebridge itself

[2019-11-08 12:04] rangerek commented on #8
found a solution - but it should not work that way :(
root@homebridge:~# npm outdated
Package     Current  Wanted  Latest  Location
serialport    7.1.5   7.1.5   8.0.5  global

after manual update it works

[2019-11-08 12:04] #8 closed, assigned to nobody

[2019-11-21 10:33] rangerek commented on #6
just reminding that in 2.1.0 issue persists and requires manual change in line 130 this time :(

[2019-11-21 20:50] solbadguy2010 opened #9 "Homemanager?"
Hi!
Am i able to use this Plugin with my SMA Homemanager?

[2019-12-05 04:47] Hadea4711 opened #10 "Read Me"
Hi,

Could you be please so kind and add a Read Me for this Plugin? I'm very interested using this Plugin but without readme, I don't know what is to add in the config.json of Homebridge.

Thanks.
Sebastian

[2020-01-30 10:48] BionicThomas opened #11 "Which inverters are supported?"
Hi!

My set-up is a SMA STP 7000TL-20 with a Sunny Home Manager an SMA Energymeter.
I think the Inverter itself does not have network connectivity and only communicates via Bluetooth?
Is it possible to get the details from the Energymeter?
Otherwise I'm as well using SBFspot on a Pi to upload data to pvoutput.org
Any furrther info would be appreciated!

[2020-03-26 07:21] fastenspy opened #12 "Error with plugin ? or connection ?"
Hello i have this problème (but sma plugin is loaded)
<img width="930" alt="Capture d’écran 2020-03-26 à 08 12 54" src="https://user-images.githubusercontent.com/14542142/77620519-d6c14c80-6f3a-11ea-8853-3bd899128914.png">

[2020-04-21 19:30] PA7T opened #13 "Sunny Tripower and Homebridge 0.4.53 - no updated values, but successful connection"
I used #7 manual fix to successfully connect to my Sunny Tripower (identical holding registers as Sunny Boy AFAIK). I can also see the icon in the Home app, but it does only show the template values for serial etc.
In debug mode only polling of the following characteristic is logged:
Get On
Get OutletInUse

Any idea what is going wrong?

Thanks!

[2020-05-19 07:25] codyc1515 commented on #13
Hopefully the IP address issue should be fixed now in https://github.com/codyc1515/homebridge-sma-inverter/commit/94d1c2cd2b33ccf5b3542ac57defab978135c1c9. Can you let me know?

[2020-05-19 07:26] codyc1515 commented on #12
Hopefully the IP address issue should be fixed now in https://github.com/codyc1515/homebridge-sma-inverter/commit/94d1c2cd2b33ccf5b3542ac57defab978135c1c9. Can you let me know?

[2020-05-19 07:26] codyc1515 commented on #9
Does it support ModBus?

[2020-05-19 07:26] codyc1515 commented on #6
Hopefully the IP address issue should be fixed now in https://github.com/codyc1515/homebridge-sma-inverter/commit/94d1c2cd2b33ccf5b3542ac57defab978135c1c9. Can you let me know?

[2020-05-19 07:29] codyc1515 commented on #10
This should be included now since https://github.com/codyc1515/homebridge-sma-inverter/commit/e0db4edc82a3debd8c71ef76478ea042b2fbad74. I have updated this recently as it was not up-to-date (https://github.com/codyc1515/homebridge-sma-inverter/commit/aa9261cbaa9b8f54bfc0c425652adca263022338).

[2020-05-19 07:29] #10 closed, assigned to codyc1515

[2020-05-19 07:30] codyc1515 commented on #11
I'm not sure. This plug-in uses ModBus. Does it support ModBus?

[2020-05-19 09:12] solbadguy2010 commented on #9
I really do not know. Is there some way i. An test this?

[2020-05-19 09:20] codyc1515 commented on #9
You will need to install the plugin and try it.

[2020-05-19 09:42] solbadguy2010 commented on #9
Tried it. This is the result.
![C8BDD863-360A-4992-B93A-EEC3264AECA3](https://user-images.githubusercontent.com/30244171/82311190-a8ee0680-99c5-11ea-9522-d696c3651d36.png)

[2020-05-19 16:07] fastenspy commented on #12
Hello, Just reinstall this plugin and now I have this:
Tested with IP address and SMAxxx.local it's the same ! And I'm sure for ip and address...

`[5/19/2020, 17:05:11] [SMA] Failed to connect to the SMA Inverter, attempting to reconnect... TypeError: Cannot read property 'buffer' of undefined
    at SMAInverter.<anonymous> (/usr/lib/node_modules/homebridge-sma-inverter/index.js:150:17)
    at Mo

[2020-05-19 16:13] fastenspy commented on #12
Just active debug:

<img width="1626" alt="Capture d’écran 2020-05-19 à 18 11 45" src="https://user-images.githubusercontent.com/14542142/82351019-524fef00-99fc-11ea-8a5a-e58efd55b8f0.png">

[2020-05-20 03:09] codyc1515 commented on #12
Looks like it doesn’t support ModBus.

[2020-05-20 03:09] #12 closed, assigned to codyc1515

[2020-05-20 03:10] codyc1515 commented on #9
Looks like ModBus is not supported.

[2020-05-20 05:18] solbadguy2010 commented on #9
I think i needed to activate it. But the manual metions modbus and port 502 on page 93. Sorry, its german. Is this the correct port?

http://www.moeller.eu/pages/config_download.php?Datei=pv_dl_sma_sunnyhomemanager_ba_de.pdf

[2020-05-20 05:19] codyc1515 commented on #9
Yes. Bear in mind the ModBus "registers" may well be different between the Home Manager and the Sunny Boy Inverters for which this plug-in is designed.

[2020-05-20 06:14] solbadguy2010 commented on #9
Ok. I activated the setting, rebootet the Home Manager and now get this error with IP and and debug logging active:

`[5/20/2020, 08:13:05] TypeError: Cannot read property 'buffer' of undefined
    at SMAInverter.<anonymous> (/usr/lib/node_modules/homebridge-sma-inverter/index.js:148:17)
    at TcpPort.<anonymous> (/usr/lib/node_modules/homebridge-sma-inverter/node_modules/modbus-serial/index.js:3

[2020-05-20 06:19] codyc1515 commented on #9
That’s almost certainly the ModBus registers not lining up. Sorry I can’t be of much more help. You may have better luck with Home Assistant with the SMA & HomeKit plugins.

[2020-05-20 06:21] solbadguy2010 commented on #9
Ok, i'll try that. Thank you

[2020-05-20 10:01] BionicThomas commented on #11
Hi codyc1515,
looking at the manual, yes!

"
Modbus
Der Wechselrichter ist mit einer Modbus-Schnittstelle ausgestattet. Die Modbus-Schnittstelle ist standardmäßig deaktiviert und muss bei Bedarf konfiguriert werden.
Die Modbus-Schnittstelle der unterstützten SMA Geräte ist für den industriellen Gebrauch konzipiert und hat folgende Aufgaben:
• Ferngesteuertes Abfragen von Messwerten
• Ferngesteuert

[2020-05-22 13:47] rangerek commented on #6
I can confirm that after update it works :) you can close it

[2020-06-09 20:02] drheck opened #14 "What is the sense of this plugin?"
Hi,
i have installed this plugin and i have a simple switch in my HomeApp?
I thought i can see some values or something else?
Do you have a sample screenshot of that what i can see or what this plugin does?
Thanks a lot for your answer.
Peter

[2020-06-09 20:03] codyc1515 commented on #14
Yes - you can see them in the Eve app.

[2020-06-09 20:09] drheck commented on #14
Ah. Okay.
Thank you. I see it.
I close this issue.

[2020-06-09 20:09] #14 closed, assigned to codyc1515

[2020-08-11 10:44] drheck opened #15 "Question: How to integrate 2 SMA Inverters as one Item?"
Hello Cody,

i have tried to modify the index.js code in order to get a sum for the customkilowatt of 2 inverters.
But i can not get the registers from a second client2 (i have copied the _connect code and the _refresh code for a second client).

I have added my files.
If i activate _connect2 i get an error in _refresh2 - why?
It is the same code as in _connect.

	this._connect2(true);	//Error Why

[2020-11-05 10:13] mitch7391 commented on #10
@codyc1515 am in the market for solar and was likely going with a SMA; just noticed this still doesn't have a proper 'Read Me'. I only bring it up as I was trying to work out if this plug-in will support the SMA Sunny Boy I am looking at.

[2020-11-05 18:37] codyc1515 commented on #10
Probably it will work. If it's the red one.

[2020-11-06 02:21] mitch7391 commented on #10
Cheers @codyc1515, looks like iv settled on the SMA anyway as it seems to be quieter and more regularly updated than fronius. So fingers crossed! Haha

[2020-11-06 06:37] codyc1515 commented on #10
What would be quieter?

[2020-11-06 06:52] mitch7391 commented on #10
I was looking at either Fronius or SMA for my new system install. Fronius has a cooling fan and can be a louder inverter on hot days, whereas SMA is passively cooled and therefore not as noisy to run :)

[2020-11-29 14:03] urbanfrank opened #18 "Which IP is required?"
The Ip of the Tri Power or the Ip of the Home Manager? Both of them do not reach the port. I found the port in the configuration of the Tripower. But it is deactivated and I do not have the rights I will ask the service provider.

I have a SUNNY TRIPOWER 5.0

thx

Frank

Error:
[29/11/2020, 15:02:29] [SMA Inverter] Refresh failed Attempting reconnect... TypeError: Cannot read property 'buffer' of

[2020-11-29 18:50] codyc1515 commented on #18
You need to turn on ModBus on the TriPower. Note I haven't got a TriPower to test with. I use Sunny Boy. So it may not work.

[2020-11-30 06:25] #18 closed, assigned to codyc1515

[2020-11-30 06:28] codyc1515 commented on #15
Hi there Peter

Apologies. I must have missed the email for this ticket and do not revise the plug-in that often. To be quite honest to support this you would really need to re-develop the plug-in as a "platform". Many plug-ins are written this way. Unfortunately I do not know how so cannot easily assist with this. I would welcome any help converting the plug-in to a platform. I also don't have tw

[2020-11-30 06:29] codyc1515 commented on #6
Fixed by adding DNS _and_ IP address support.

[2020-11-30 06:29] #6 closed, assigned to codyc1515

[2020-11-30 06:30] codyc1515 commented on #13
Closing due to no response.

[2020-11-30 06:30] #13 closed, assigned to codyc1515

[2020-11-30 06:31] codyc1515 commented on #11
Did you try it?

[2020-11-30 06:31] codyc1515 commented on #11
Did you try it? There is config-ui-x support now so set-up should be easy.

[2020-11-30 06:32] #9 closed, assigned to codyc1515

[2020-12-01 07:13] #15 closed, assigned to drheck

[2020-12-01 07:13] #11 closed, assigned to BionicThomas

[2020-12-14 19:26] WesleyLiekens opened #20 "instal failed"
Could someone please help me; I have no idea how this works

thanks in advance

prebuild-install WARN install No prebuilt binaries found (target=14.15.1 runtime=node arch=x64 libc= platform=darwin)
No receipt for 'com.apple.pkg.CLTools_Executables' found at '/'.

No receipt for 'com.apple.pkg.DeveloperToolsCLILeo' found at '/'.

No receipt for 'com.apple.pkg.DeveloperToolsCLI' found at '/'.

gyp:

[2020-12-17 13:14] mitch7391 opened #21 "ERROR: connect ECONNREFUSED"
Hi @codyc1515 I have just had my SMA Sunny Boy 5.0 (red model) installed but am having no luck with the plug-in. I have been able to access it through the web-portal and through the provided apps; so I know it is online. I noticed in an old issue raised by someone else you told them that this meant that the model does not support modbus, but I had confirmed with the installer before buying this mo

[2020-12-17 21:49] richardmayer commented on #21
Hello,

I struggled with the same problem for the last 30 Minutes with my Tripower inverter.
Did you make sure, that ModBus TCP and UDP-Ports are enabled in the inverter settings?
(Login via "installer", activate the TCP and UDP Servers under "Device Parameters" => "External Communication")

After doing that, reading the data works just fine.
![image](https://user-images.githubusercontent.com/2877

[2020-12-18 02:43] mitch7391 commented on #21
Hey @richardmayer thanks for this info! I got to the webpage for this but did not know the password for the `user` or `installer` logins. Would you happen to know them? I assume they will be generic.

[2020-12-18 03:41] mitch7391 commented on #21
I did a quick google and found the generic `user` password is `0000` and the generic `installer` password is `1111`. This did not work for me, so it would appear my installer changed the password during installation...

[2020-12-21 02:47] mitch7391 commented on #21
@richardmayer my solar installer was kind enough to give me the `installer` password; which I did not expect. Thanks to your advice, I am all up and running! @codyc1515 do you think this information could go in future README file to help the next person and hopefully reduce future issues being created?

[2020-12-21 02:47] #21 closed, assigned to nobody

[2020-12-21 03:12] mitch7391 opened #22 "100,000kWh Bug For Today Reading"
Hi @codyc1515 I can see there has been a previous issue with a bug displaying 100,000kWh for the some readings based on your commits. I noticed today I have the bug:

![B6726728-4130-416E-A7FF-B5E2E1F67FF2](https://user-images.githubusercontent.com/40288237/102735321-0b085300-437d-11eb-8008-ea635085e375.png)

The inverter is currently running and pulling kWh and the value for ‘Today’ as I type is

[2020-12-21 13:25] MAPEZ1 commented on #22
Hi, yes...  same here.

![image](https://user-images.githubusercontent.com/76261897/102781501-1026cb80-4398-11eb-9e4a-8fd861e8682b.png)
100k value is also shown during night.

[2020-12-28 12:54] mitch7391 commented on #22
@codyc1515 do you think this could be a problem with the wrong modbus register being read for some models? I looked the following document and can where you may have picked the parameters in chapter 5.3 (page 27) but was wondering if it should use the parameters from 5.4.1 (page 28)? However the issue with using this second tale is the parameter is a different data type (U64 instead of U32) and I

[2020-12-28 13:13] mitch7391 commented on #22
According to that manual the generic parameters you have picked will only work with across all models that have a Unit ID of 2; I have just found out mine has a Unit ID of 3 and therefore would use the parameters from chapter 5.4.1. This could be why this is not working for people. This can be changed from the web portal when logged in as `installer`, but I am not sure if there are any consequence

[2021-01-04 03:09] mitch7391 commented on #22
New Homebridge v1.3.0-beta.40 actually displays a warning for this:

`4294967.295` being the maximum value for a 32bit unassigned integer. So I would say this further supports my case that for inverters with `UNIT ID` not equal to `2`, then this characteristic will not work. I am still waiting for a reply form my solar suppliers tech team to see if there are any issues with changing the `UNIT ID`;

[2021-01-04 11:37] dannywanwan opened #23 "ECONNREFUSED"
[1/4/2021, 7:34:54 PM] [SMA Inverter] Attempting connection 10.1.1.2
[1/4/2021, 7:34:54 PM] [SMA Inverter] Connection successful
(node:15109) UnhandledPromiseRejectionWarning: Error: connect ECONNREFUSED 10.1.1.2:502
    at TCPConnectWrap.afterConnect [as oncomplete] (net.js:1141:16)
(node:15109) UnhandledPromiseRejectionWarning: Unhandled promise rejection. This error originated either by throwin

[2021-01-14 09:18] mitch7391 commented on #23
This sounds like the problem I had in #21, have a look over that :)

[2021-01-14 12:16] dannywanwan commented on #23
Amazing. Thanks @mitch7391! Luckily my installer gave me the password

[2021-01-14 12:16] #23 closed, assigned to nobody

[2021-01-14 12:17] mitch7391 commented on #23
I was lucky that my installer gave me the password too :) glad to hear it help! I think we need a good README so people don’t keep creating this issue @codyc1515.

[2021-01-27 20:49] ristridin01 opened #24 "Illegal value when no input is available"
Inverter is offline due to no available input.
Received warning for the plugin 'homebridge-sma-inverter' from the characteristic 'Current Ambient Light Level': characteristic was supplied illegal value: number 0 exceeded minimum of 0.0001.

[2021-02-13 18:14] MAPEZ1 commented on #24
Hi @codyc1515,
I tried today the 1.3.0 beta 54 after Sun down and no input. Got same and more warnings every seconds in the log.
[2/13/2021, 6:31:16 PM] Received warning for the plugin 'homebridge-sma-inverter' from the characteristic 'Volts': characteristic was supplied illegal value: number 42949672.95 exceeded maximum of 65535.
[2/13/2021, 6:31:17 PM] Received warning for the plugin 'homebridge

[2021-02-28 15:23] apographon opened #25 "Installed - not working"
Hi, added the SMA Inverter to my Homebridge but it seems not to work at all.
Please add detailed documentation.

[2021-03-03 20:50] MAPEZ1 commented on #25
Your SMA inverter need to support and have Modbus enabled !
Then only a name and the IP address through the Config-UI.
For Modbus check the manual and / or with your installer!

[2021-03-05 14:01] Stefan-83 opened #26 "Error"
Hi,
getting this error message.

[05/03/2021, 14:59:46] [SMA Inverter] Connection successful
(node:13854) UnhandledPromiseRejectionWarning: Error: connect ECONNREFUSED 192.168.178.91:502
    at TCPConnectWrap.afterConnect [as oncomplete] (net.js:1146:16)
(node:13854) UnhandledPromiseRejectionWarning: Unhandled promise rejection. This error originated either by throwing inside of an async function

[2021-03-13 15:31] drheck opened #27 "Refresh interval is in minutes = 60.000 milliseconds"
Hi,
i have copied last year in August this plugin and modified it for my special purposes (i have 2 inverters and i wants the sum of the values).

Today i get the update, so i made a diff with version 3.2.0 with the 2.2.2 and my modification in order to get the mods you made.

So i see the change from
2.2.2: 	    this.refreshInterval = (config['refreshInterval'] * 60000) || 60000;
TO newest:  this

[2021-03-13 15:54] Stefan-83 opened #28 "SMA Inverter Hostname ?"
Hi,
I'm successfully using openhab2 with [SMA Energy Meter Binding](https://www.openhab.org/addons/bindings/smaenergymeter/).
The Energy Meter is discovered by receiving data on the default multicast IP address.
![image](https://user-images.githubusercontent.com/52136837/111035792-53835a00-841c-11eb-9dc2-980c50b1c9e7.png)

When looking into my SMA-DeviceOverview:
![image](https://user-images.githu

[2021-03-18 22:58] MAPEZ1 commented on #26
--> Using SHM2.0
Not sure that it would work with SHM..... from what I could read in the issues, it uses the modbus registers from inverters.
For the plugin to work you need to have modbus enabled on the inverter and connect to them.
You may need to check with your installer if modbus is not enabled.

[2021-04-02 04:18] codyc1515 commented on #28
This plug-in is written for the Sunny Boy line of inverters, not the Energy Meter or the TriPower. To support either of these would likely require an entire re-write of the plug-in, sorry, and I do not have one to test with. In my country the energy meter alone is over US$1,000.

[2021-04-02 04:19] codyc1515 commented on #27
Refresh lower than a minute works fine, but it seems like the inverter locks up sometimes and becomes unresponsive to any commands or even the web interface. I haven't been able to determine the root cause but it's likely due to this plugin.

[2021-04-02 04:19] codyc1515 commented on #26
This plug-in does not work with the Sunny Home Manager, sorry.

[2021-04-02 04:20] codyc1515 commented on #25
Correct

[2021-04-02 04:20] #25 closed, assigned to codyc1515

[2021-04-02 04:21] codyc1515 commented on #24
This is a bug due to the way that the information becomes represented at night. I will hopefully be able to take a look tonight.

[2021-04-02 04:23] codyc1515 commented on #20
It seems you are running Homebridge on macOS and the issue is on installing the plug-in. You might want to raise this with the [@serialport/bindings](https://www.npmjs.com/package/@serialport/bindings) developers.

[2021-04-02 04:23] #20 closed, assigned to codyc1515

[2021-04-02 08:26] drheck commented on #27
Hi,
i think there is an error with the dimension of the refreshInterval!
I want install your update, but i get the error in attached screenshot and logfile.
Peter
![errorupdate](https://user-images.githubusercontent.com/49845838/113396802-6692a580-939c-11eb-8d22-67551718ae4a.PNG)
[2021-04-02T08_13_59_532Z-debug.log](https://github.com/codyc1515/homebridge-sma-inverter/files/6248537/2021-04-02T08_1

[2021-04-11 15:01] vrxj81 opened #29 "Cannot connect to Sunny Boy 4.0"
I probably did something wrong, but I'm getting this error:
`[11/04/2021, 16:00:00] [SB4.0-1AV-41 277] Refresh failed Attempting reconnect... TypeError: Cannot read property 'buffer' of undefined
    at SMAInverter.<anonymous> (/opt/node/node-v14.16.1-linux-armv6l/lib/node_modules/homebridge-sma-inverter/index.js:168:13)
    at ModbusRTU.writeFC4 (/opt/node/node-v14.16.1-linux-armv6l/lib/node_modu

[2021-04-11 15:23] vrxj81 commented on #29
Never mind, I figured out how to login and set up the TCP servers on the ModBus

[2021-04-11 15:23] #29 closed, assigned to nobody

[2021-04-13 18:43] pbanane opened #30 "characteristic value expected valid finite number and received "undefined""
Hi,

just installed the plugin and first setup was quite easy. I have a SMA TriPower 8000 with SHM 2.0.
After the restart I got the current solar level, todays total and overall total.
And I got some warnings:
characteristic value expected valid finite number and received "undefined"

Would be nice to get some more data in homekit but I do not know if this is an issue with my setup, a bug or even

[2021-04-23 11:30] hansmestrum opened #31 "No data coming in"
Installed the plugin in HomeBridge. I could not find what to do so just entered the IP.
After restarting I see 3 devices but no data coming in.
Should I do more?
I have a SMA STP5

[2021-04-24 04:42] codyc1515 commented on #31
Tripower is not currently supported.

[2021-04-27 10:43] WiesiDeluxe commented on #31
It is possible for you to add Support for Tripower, i also have a SMA STP 5000TL-20!?

[2021-04-28 06:59] codyc1515 commented on #31
Well I guess it’s possible if someone wants to send me one.

[2021-06-08 07:29] helander opened #32 "Connection problem"
I get the following error when trying to use this plugin:

`[08/06/2021, 09:20:45] [SMA Inverter] Refresh failed Attempting reconnect... TypeError: Cannot read property 'buffer' of undefined
    at SMAInverter.<anonymous> (/usr/local/lib/node_modules/homebridge-sma-inverter/index.js:168:13)
    at ModbusRTU.writeFC4 (/usr/local/lib/node_modules/homebridge-sma-inverter/node_modules/modbus-serial/in

[2021-06-08 07:42] helander commented on #32
I found the problem. No MODBUS server was running on my inverter. Activated the server via manual configuration of the inverter.

[2021-06-08 07:42] #32 closed, assigned to nobody

[2021-11-07 12:53] Auka84 commented on #31
Hi, what do you need to implement the compatibily with tripower ? I also have a tripower and it doesn't work :(

[2021-11-17 19:47] javab0y commented on #31
Expressing my interest in the TriPower too Sunny Tripower 5000TL-20.
Thank you.

[2021-11-19 20:36] WesleyLiekens opened #33 "Plugin down?"
Is this Plugin end of life?
i had to reinstall my homebridge on another device after a crash and it seems that this plugin won't install anymore
in homebridge it says homebridge-sma-inverter v3.2.1
but when I open the link to GitHub its only on 2.0.0
When I instal 2.0.0 it won't work
and when I install from homebridge for v3.2.1 I get

npm ERR! code 1
npm ERR! path /usr/local/lib/node_modules/home

[2021-12-17 03:44] hunkyn opened #34 "Value shows in lux"
I have a sunny boy 7.7 inverter and i]for some reason it shows values in lux. Is there a setting I need to add to read it correctly?

[2021-12-17 04:14] codyc1515 commented on #34
What were you expecting? There's no way to show kWh or any power measure for that matter in Home app.

[2021-12-17 11:41] hunkyn commented on #34
Ok that is why i was asking if i missed any settings. Interesting that Home app does not have this capability.

[2021-12-17 11:41] #34 closed, assigned to nobody

[2022-01-15 02:22] mitch7391 commented on #33
@codyc1515 are there any plans to pick this plugin back up? No pressure if not, just would like to know if this plugin is abandoned or not.

[2022-01-15 02:23] codyc1515 commented on #33
I'm not able to test this on Mac easily, though I'd imagine that's the issue.

[2022-01-15 02:30] mitch7391 commented on #33
I personally do not have the issue above, I just highjacked this issue to ask if the plugin is still supported based on the 'end of life' question asked above.

[2022-01-15 02:41] codyc1515 commented on #33
I can't provide support for node-gyp sorry

[2022-01-15 02:48] mitch7391 commented on #33
Not what I was asking but all good.

[2022-01-17 09:48] WesleyLiekens commented on #33
but it has always worked on my Mac flawlessly so im not thinking its because Mac itself

also...
i noticed that in homebridge itself the plugin is updated to 3.3.0
Yet here it still says 2.0.0
could this be something to do with the errors?

[2022-01-17 09:53] mitch7391 commented on #33
I would hazard a guess that is because both version numbers are quoted in the `package.json` and I have no idea why. The version number you see in Homebridge will be what is published to npm, I wouldn’t be worried about the latest version number seen on GitHub though. It just means a release was never done here to match the one in npm; which is not the best practise but not the end of the world… T

[2022-01-17 10:04] WesleyLiekens commented on #33
ok thanks for the info

[2022-01-18 05:36] HarrySteff opened #35 "Device Status off - unreasonable Value"
Hello,
I receive this message in log file, every second if I setup my sunnyboy inverter in config.
Is there a possibility to fix?

![0071739D-2E12-4382-A413-D91775B2E793](https://user-images.githubusercontent.com/3635718/149896322-f1b02d96-065f-4894-80f1-f7931a8da394.jpeg)

Thank you very much.
Stefan

[2022-01-18 10:24] HarrySteff commented on #35
So now i just reactivated Plugin, and i get this Message:
Device Status On
Nothing more, no devices appearing in Homekit? Is there something else to do?

[2022-01-18 10:26] #35 closed, assigned to nobody

[2022-01-18 10:26] HarrySteff commented on #35
Sorry, now it is working!

[2022-02-04 09:44] mitch7391 commented on #22
This issue appears to now be resolved for me.

[2022-02-04 09:44] #22 closed, assigned to nobody

[2022-02-04 09:46] mitch7391 commented on #24
@MAPEZ1 and @ristridin01 is this still an issue for you? #22 is no longer an issue for me.

[2022-02-04 09:48] mitch7391 commented on #30
Is this still an issue for you @pbanane?

[2022-02-05 06:09] codyc1515 commented on #31
Does anyone have information on the ModBus protocol for TriPower? I imagine it's not that hard.

[2022-02-05 06:10] codyc1515 commented on #33
Did you resolve the issue? Just again reiterating that this is not a SMA specific plug-in issue but rather an issue with one of the dependencies.

[2022-02-05 06:40] mitch7391 commented on #33
I could try and install Homebridge on my wife's Mac and see if the same issue is experienced if everyone would like? I actually do not see any of the dependencies mentioned in the errors above in the dependencies section of the `package.json`:

[code]
I am still quite new to all of this @codyc1515, but the `package.json` you have is very different to most I have looked at. Are you able to explain

[2022-02-05 12:24] Auka84 commented on #31
Perhaps here https://www.sma.de/fr/produits/fonctionnalites-interfaces/interface-protocole-modbus.html

[2022-02-05 15:58] MAPEZ1 commented on #24
Sorry....I'm not using the SMA-Inverter plugin anymore.
Moved instead to NodeRed for some Smarthome functions, using Modbus for the SMA.
For the night values I added the below to convert the strange inverter value to 0:
if (msg.payload == -2147483648 ) {
    msg.payload = 0;
}

[2022-02-05 17:23] WesleyLiekens commented on #33
Well I was able to install it again but it got a shitload of errors when installing and even in de log when homebridge is running

[2022-02-05 17:23] WesleyLiekens commented on #33
[2/5/2022, 6:26:40 PM] [SMA Inverter] Child bridge process ended
[2/5/2022, 6:26:40 PM] [SMA Inverter] Process Ended. Code: 1, Signal: null
[2/5/2022, 6:26:47 PM] [SMA Inverter] Restarting Process...
[2/5/2022, 6:26:47 PM] [SMA Inverter] Launched child bridge with PID 75381
[2/5/2022, 6:26:48 PM] Registering accessory 'homebridge-sma-inverter.SMAInverter'
[2/5/2022, 6:26:48 PM] [SMA Inverter] Load

[2022-02-06 02:46] mitch7391 commented on #24
I had stopped using the plug-in for a long while and only just tested it out again recently and it appears to all be working for me now. Just wondering if this issue could be closed or not.

[2022-02-06 02:53] mitch7391 commented on #33
Now the issue sounds like in #32, which I think means you need to log into your inverter’s web portal and activate modbus.

[2022-02-06 07:26] WesleyLiekens commented on #33
Seems like it. Except that it is activated...

[2022-02-06 11:30] WesleyLiekens commented on #33
![278010B2-CA67-4B72-89C1-AF75749AC3E7](https://user-images.githubusercontent.com/63705562/152678763-1e19e947-1007-4f0d-b2ec-8c43e7dd51af.jpeg)

[2022-02-06 12:09] mitch7391 commented on #33
That is a bugger, looks like it should be all good. And you are sure you have not done anything silly like used the wrong IP address (like in the case of not having a static IP a set)?

What model inverter do you have? I think I remember Cody saying some models are not supported…

[2022-02-06 12:38] WesleyLiekens commented on #33
That's the thing. it has always worked fine until my computer crashed and I had to reinstall everything
Its a sunnyboy SB4000TL
IP adress is and has always been 192.168.0.4 (ip reservation from my router)

ps. im have a configuration working in Home Assistant so I am very confident its not on the SMA side

[2022-02-06 12:42] WesleyLiekens commented on #33
I remember that when I first installed the plugin I had to manually make a change in the index.js file
I think I needed to add the ip and port 502 or something. but can't seem to find what it was

[2022-02-06 12:51] mitch7391 commented on #33
Modus always uses port 502, so I would think that the plug-in is using that correctly. So I find that a bit strange, but can’t speak for the inner workings of the plug-in myself sorry…

[2022-02-06 17:54] codyc1515 commented on #33
SB4000TL may be the issue here. I really need to take a look at the registers to see if this might be the issue. Also the devices emit a packet which allows you to auto detect the devices details which we need to add too.

[2022-02-09 03:12] mitch7391 commented on #33
@codyc1515 I think this [document](https://studylib.net/doc/25277802/webbox-modbus-tb-en-19) will be exactly what you need. It also details the registers of models I have seen people asking about in your other open issues; meaning you may be able to easily add support for those.

Chapter 5 (page 25) and onwards details the commonly used registers for the different `UNIT ID`'s. I think page 33 migh

[2022-02-09 03:17] mitch7391 commented on #31
@codyc1515 as mentioned in #33, the link I have placed there could be of help for this issue.

[2022-02-09 03:19] mitch7391 commented on #27
@drheck is this still an issue?

[2022-02-09 03:25] mitch7391 commented on #28
I do not see this one listed in the [modbus document](https://studylib.net/doc/25277802/webbox-modbus-tb-en-19) and from the screenshots above does not appear the use modbus based on the port referenced and therefore not compatible with this plug-in. Are we good to close this one out?

[2022-02-09 03:27] mitch7391 commented on #26
Good to close out @codyc1515?

[2022-02-09 03:28] mitch7391 commented on #24
This should be good to close out @codyc1515.

[2022-02-10 13:26] drheck commented on #27
You can close it. I do not use the plugin anymore.

[2022-02-10 13:34] mitch7391 commented on #27
I cannot myself, I am just trying to help @codyc1515 with a bit of tidy up here and there. Yourself or him will have to close this out.

[2022-02-21 11:59] raimund-hdr opened #37 "Homekit shows "lux" instead of kW and kWh"
**Paste of Logs:**
[code]

**Config:**

[code]

**Screenshots:**

**Inverter:**

* **Model:**

**Homebridge Environment:**

* **Node.js Version**:
* **NPM Version**:
* **Homebridge Version**:
* **homebridge-sma-inverter Version**:
* **Operating System**: Raspbian / Ubuntu / Debian / Windows / macOS / Docker / other

[2022-03-09 07:03] solbadguy2010 commented on #37
Hi Raimund,
Homekit does not know what a Solar Inverter are. Apple has no device class for these devices. Therefore. As usual with Homebridge, a Plugin developer uses the next best thing. In this case a Lux-Meter.
For example mit Vacuum Robot is a fan...

There is no way for the developer of this Plugin to change Lux to Wh

Timo

[2022-03-09 07:07] solbadguy2010 opened #38 "Make "Today" and "Total" optional"
**Is your feature request related to a problem? Please describe:**
I do not really need the today and total value. A way to disable them would be nice.

**Describe the solution you'd like:**
Checkboxes in Homebridge Settings

**Describe alternatives you've considered:**
Moving the unwanted to another room, but this isn't working since the three are tied together as one device.

**Additional contex

[2022-03-09 07:15] solbadguy2010 opened #39 "Enough Power available Signal"
**Is your feature request related to a problem? Please describe:**
I have a Dishwasher, washing machine and car, that are smart and can be started runnung/charging via Homekit. Currently i can only use the "current" Lux value to tell all of them to start when this value is higher than X. I would like to have this a little more flexible

**Describe the solution you'd like:**
I would like to set up

[2022-03-23 20:45] mitch7391 commented on #39
@solbadguy2010 have you considered using other apps like 'Eve' to create more complicated automations? I have not dabbled too much myself, but you can create better automations there from what I have heard.

[2022-03-23 21:10] solbadguy2010 commented on #39
Hi, yes. Thank you. I have already done that, but i was not able to manage this mechanic mentioned above. But yes, i am as good as it gets currently.

[2022-03-23 21:15] mitch7391 commented on #39
Another suggestion and one I have not used, but could be worth checking out [dummy switches](https://github.com/nfarina/homebridge-dummy) and see if that can help you out.

[2022-03-29 09:21] madtempest opened #40 "[Feature Request] Switch from Modbus to SMA-SPW"
**Is your feature request related to a problem? Please describe:**
Modbus is an unauthenticated industrial protocol and enabling it on your SMA device can lead to a reduction in security posture for both the home network and the inverter itself. In fact, the official SMA documentation warns you about enabling Modbus in your environment.

This, coupled with the fact that HomeKit doesn't like crossi

[2022-04-21 05:43] mbnn opened #41 "[Feature Request] SMA Home manager support"
Hello,

I would like to request to get the SMA Home Manager 2.0 supported so we can read current power consumption (+ and -) if possible in Homekit.

**Inverter:**
https://www.sma.de/en/products/monitoring-control/sunny-home-manager-20.html

[2022-05-05 13:01] TheRealGros commented on #41
I support this request.

[2022-05-14 00:01] cohen-sydney opened #42 "[Bug]"
not showing as tiles in room, not showing as individual tiles. shows as 839 lux at top

**Paste of Logs:**
14/05/2022, 09:41:09] [SMA Inverter] Refresh failed Attempting reconnect... TypeError: Cannot read properties of undefined (reading 'buffer')
    at SMAInverter.<anonymous> (/usr/local/lib/node_modules/homebridge-sma-inverter/index.js:168:13)
    at ModbusRTU.writeFC4 (/usr/local/lib/node_mod

[2022-05-14 02:50] cohen-sydney commented on #42
they show ok on the HomeBridge Accessories page.
<img width="520" alt="Screen Shot 2022-05-14 at 12 50 23 pm" src="https://user-images.githubusercontent.com/17312304/168408108-ef117789-71be-443f-86d1-9aacb28a87ef.png">

[2022-05-26 16:31] wimleers commented on #41
+1

[2022-05-31 15:46] mitch7391 commented on #42
@cohen-sydney this is just how HomeKit displays them and not an issue with this plug-in. It is the same with temperature sensors, they will display is the status bar at the top but not as tiles in the room; will also display as tiles in Homebridge.

[2022-06-17 03:27] dannywanwan opened #43 "[Feature Request]"
I would like to request the option of displaying the current values in Watts (i.e kWx1000)
HomeKit allows automations to be triggered by changing values, but only 10/20/50/100/200/400/600/etc so a different unit would allow greater control of this.
My unit is 5kW so aren’t able to currently utilise this function.

[2022-07-03 13:24] pmahli commented on #42
Fellas
I have tried everything to get this up and running and connecting my Sunny Tripower 6.0 to Homebridge.

[03/07/2022, 15:20:36] [SMA Inverter] Attempting connection 192.168.178.61
[03/07/2022, 15:20:36] [SMA Inverter] Connection successful
[03/07/2022, 15:20:36] Error: connect **ECONNREFUSED** 192.168.178.61:502
    at TCPConnectWrap.afterConnect [as oncomplete] (node:net:1187:16)
[03/07/202

[2022-07-03 13:40] mitch7391 commented on #42
@pmahli I might be wrong but from memory the Tripower is not supported as it does not use modbus? I just searched an old issue where it is mentioned [here.](https://github.com/codyc1515/homebridge-sma-inverter/issues/28#issuecomment-812307890)

[2022-07-06 07:18] pmahli commented on #42
@mitch7391, thx for your reply. Wasn’t aware of that.

[2022-07-30 11:47] Kragothius commented on #41
+1

[2022-08-11 09:45] Arthuro87 opened #44 "[Bug]Error on Install Synology Homebridge"
##################] / reify:moment: timing reifyNode:node_modules/homebridge-sma-invert

gyp ERR! build error / reify:googleapis: timing reifyNode:node_modules/homebridge-sma-in
gyp ERR! stack Error: not found: make
gyp ERR! stack     at getNotFoundError (/volume1/@appstore/homebridge/app/lib/node_modules/npm/node_modules/which/which.js:10:17)
gyp ERR! stack     at /volume1/@appstore/homebridge/ap

[2022-09-01 18:08] wimleers commented on #41
I _sort of_ found examples of how to do this! Or at least the following two projects claim to support reading data from the SMA Home Manager and SMA Energy Meter:
- https://github.com/RalfOGit/sma-emeter-and-inverter-to-influxdb-cpp
- https://github.com/mincequi/SBFspot

[2022-09-18 21:40] wimleers commented on #43
This is already supported! See https://github.com/codyc1515/homebridge-sma-inverter/blob/master/index.js#L172.

It's a bit odd, but you'll see it in the Eve App listed under "SMA Inverter Currently", then tap "Consumption".

I have several automations based on this, and it works fine :)

[2022-09-18 21:43] wimleers commented on #27
This definitely is still an issue. The refresh interval is _not_ in minutes, but in seconds.

I had it configured to `1`, which resulted in an update every second! My inverter did not crash in the weeks it ran at this rate though. I changed it to `30`, now it updates twice a minute, which is plenty.

[2022-09-18 21:47] wimleers commented on #37
What @solbadguy2010 says 😊

I think this can be closed.

[2022-09-18 22:17] wimleers commented on #39
I too am very interested in this!

[2022-09-19 05:28] raimund-hdr commented on #37
So sad - Apple should do better,

[2022-09-19 05:28] #37 closed, assigned to codyc1515

[2022-09-20 16:16] wimleers commented on #37
Sad indeed! Hopefully Matter will add it in the not too distant future 😊

[2022-09-30 05:49] JSitNow opened #45 "[Support] connect ECONNREFUSED xxx:502…"
… at TCPConnectWrap.afterConnect [as complete] (node:net:1247:16)

Is there a dedicated configuration of the SMA-Inverter needed?
My Inverter is in a different subnet, but it‘s full reachable - this shouldn‘t be the issue…

**Describe Your Problem:**

**Paste of Logs:**

[code]

**Config:**

[code]

**Screenshots:**

**Inverter:**

* **Model:**

**Homebridge Environment:**

* **Node.js Version**:

[2022-10-04 17:08] wimleers commented on #41
FYI: I've got a custom plugin for exposing SMA Home Manager 2.0 to HomeKit in the works. I will publish it in the coming months. I'm currently still refining it. For some reason, automations won't trigger when I use this new accessory in automations 😬

[2022-10-04 18:05] wimleers opened #46 "[Bug] `fakegato`-related errors in log — likely only requires update to `fakegato-history` `0.6.1`"
**Paste of Logs:**
[code]

**Config:**
[code]

**Screenshots:**
Whenever I use the `Eve` app and navigate to any of the 3 accessories that `homebridge-sma-inverter` exposes, the `Eve` app starts a progress bar … which then quickly stops.

~I assume this happens because this plugin does not _actually_ support any history; it can only provide access to the _current_ information? 🤔~

I never understo

[2022-10-04 18:11] TheRealGros commented on #41
👍

[2022-10-04 18:16] Kragothius commented on #41
Worth to wait. ThanksAm 04.10.2022 um 19:09 schrieb Wim Leers ***@***.***>:﻿
FYI: I've got a custom plugin for exposing SMA Home Manager 2.0 to HomeKit in the works. I will publish it in the coming months. I'm currently still refining it. For some reason, automations won't trigger when I use this new accessory in automations 😬

—Reply to this email directly, view it on GitHub, or unsubscribe.You a

[2022-11-08 07:40] #24 closed, assigned to codyc1515

[2022-11-08 07:40] #26 closed, assigned to codyc1515, Stefan-83

[2022-11-08 07:40] #27 closed, assigned to codyc1515

[2022-11-08 07:40] #28 closed, assigned to codyc1515, Stefan-83

[2022-11-08 07:40] #30 closed, assigned to codyc1515

[2022-11-08 07:40] #31 closed, assigned to codyc1515

[2022-11-08 07:40] #33 closed, assigned to mitch7391, codyc1515, WesleyLiekens

[2022-11-08 07:40] #38 closed, assigned to codyc1515

[2022-11-08 07:40] #39 closed, assigned to codyc1515

[2022-11-08 07:40] #40 closed, assigned to codyc1515

[2022-11-08 07:40] #41 closed, assigned to codyc1515

[2022-11-08 07:40] #42 closed, assigned to codyc1515

[2022-11-08 07:40] #43 closed, assigned to codyc1515

[2022-11-08 07:40] #44 closed, assigned to codyc1515

[2022-11-08 07:40] #45 closed, assigned to codyc1515

[2022-11-08 07:40] #46 closed, assigned to codyc1515